Repository polurvenkat/product-intelligence-platform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-bot.yml

Path conditions:
  azure-pipelines-api.yml: any of: src/backend/src/ProductIntelligence.API, src/backend/src/ProductIntelligence.Application, src/backend/src/ProductIntelligence.Domain, src/backend/src/ProductIntelligence.Infrastructure, src/backend/src/ProductIntelligence.Core
  azure-pipelines-bot.yml: any of: src/backend/src/ProductIntelligence.TeamsBot, src/backend/src/ProductIntelligence.Application, src/backend/src/ProductIntelligence.Domain, src/backend/src/ProductIntelligence.Infrastructure, src/backend/src/ProductIntelligence.Core

Updates target framework
  src/backend/tests/ProductIntelligence.Tests/ProductIntelligence.Tests.csproj
Due: none

Removes Domain project dependency
  src/backend/src/ProductIntelligence.API/Dockerfile
  src/backend/src/ProductIntelligence.TeamsBot/Dockerfile
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

Enables Azure Key Vault integration
  src/backend/.gitignore
  src/backend/src/ProductIntelligence.API/ProductIntelligence.API.csproj
  src/backend/src/ProductIntelligence.API/Program.cs
  src/backend/src/ProductIntelligence.API/appsettings.Development.json
  src/backend/src/ProductIntelligence.API/appsettings.json
  src/backend/src/ProductIntelligence.Infrastructure/AI/AzureOpenAIService.cs
  src/backend/src/ProductIntelligence.Infrastructure/Configuration/AzureOptions.cs
  src/backend/src/ProductIntelligence.Infrastructure/ProductIntelligence.Infrastructure.csproj
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

Improves Azure Key Vault configuration handling.
  src/backend/src/ProductIntelligence.API/Program.cs
Due: azure-pipelines-api.yml

Uses `gen_random_uuid()` for ID generation
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251207001_InitialSchema.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251225002_AddUsersTable.cs
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

Uses SQL to set default UUIDs for tables
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251207001_InitialSchema.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251225002_AddUsersTable.cs
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

Clarifies extension allow-listing requirement
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251207001_InitialSchema.cs
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

Adds roadmap and work item management
  src/backend/database/migrations/001_initial_schema.sql
  src/backend/src/ProductIntelligence.API/Controllers/RoadmapsController.cs
  src/backend/src/ProductIntelligence.API/Controllers/WorkItemsController.cs
  src/backend/src/ProductIntelligence.API/Program.cs
  src/backend/src/ProductIntelligence.Application/DTOs/AzureDevOps/WorkItemDto.cs
  src/backend/src/ProductIntelligence.Application/DTOs/RoadmapDto.cs
  src/backend/src/ProductIntelligence.Application/DTOs/RoadmapSortOrderDto.cs
  src/backend/src/ProductIntelligence.Application/Interfaces/AzureDevOps/IAzureDevOpsService.cs
  src/backend/src/ProductIntelligence.Application/Interfaces/IRoadmapManager.cs
  src/backend/src/ProductIntelligence.Application/Interfaces/IRoadmapRepository.cs
  src/backend/src/ProductIntelligence.Application/Interfaces/IWorkItemManager.cs
  src/backend/src/ProductIntelligence.Application/Services/RoadmapManager.cs
  src/backend/src/ProductIntelligence.Application/Services/WorkItemManager.cs
  src/backend/src/ProductIntelligence.Core/Entities/RoadmapItem.cs
  src/backend/src/ProductIntelligence.Infrastructure/Configuration/AzureOptions.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251207001_InitialSchema.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251222001_CreateStoredProcedures.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20251225002_AddUsersTable.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20260104001_AddRoadmapTable.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20260104002_AddPriorityToRoadmapItems.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20260104003_AddSortOrderToRoadmaps.cs
  src/backend/src/ProductIntelligence.Infrastructure/Data/Migrations/20260104004_AddExternalIdToRoadmapItems.cs
  src/backend/src/ProductIntelligence.Infrastructure/Repositories/RoadmapRepository.cs
  src/backend/src/ProductIntelligence.Infrastructure/Services/AzureDevOps/AzureDevOpsService.cs
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml

chore: add .gitignore and remove log files
  backend.log
  src/backend.log
Due: none

feat: Integrate Azure Key Vault for secure secret management and remediate leaked keys
  .gitignore
  IMPLEMENTATION_STATUS.md
  src/backend/src/ProductIntelligence.API/Program.cs
  src/backend/src/ProductIntelligence.API/appsettings.Development.json
  src/backend/src/ProductIntelligence.TeamsBot/ProductIntelligence.TeamsBot.csproj
  src/backend/src/ProductIntelligence.TeamsBot/Program.cs
  src/backend/src/ProductIntelligence.Workers/ProductIntelligence.Workers.csproj
  src/backend/src/ProductIntelligence.Workers/Program.cs
Due: azure-pipelines-api.yml, azure-pipelines-bot.yml
